/* Common styles */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');
html{
  box-sizing: border-box;
}
*, *::after, *::before{
  box-sizing: inherit;
}
body{
  padding: 0;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: rgba(36, 42, 69, 0.5);
}
.container {
  max-width: 1440px;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: auto;
  margin-right: auto;
}
/* HEADER  */
.site-header {
  margin-bottom: 120px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 48px;
}
.site-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  margin-right: 48px;
}
.nav-item + .nav-item {
  margin-left: 48px;
}
.nav-link {
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.5px;
  color: #242A45;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;
}
.nav-link:hover {
  color: #FA5959;
}
.login {
  padding: 12px 33px;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  background-color: #FA5959;
  border-radius: 5px;
  border: 2px solid transparent;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;
}
.login:hover {
  color: #FA5959;
  border-color: #FA5959;
  background-color: #fff;
}

/* HERO  */
.hero {
  margin-bottom: 180px;
}
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-info {
  width: 540px;
}
.hero-title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -0.15px;
  color: #242A45;
}
.hero-tetx {
  margin-top: 0;
  margin-bottom: 32px;
}
.buttons {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
}
.xrome, .firefox {
  padding: 10px 32px;
  border-radius: 5px;
  text-decoration: none;
  border: 2px solid transparent;
  transition: all ease .3s;
}
.xrome {
  margin-right: 16px;
  background-color: #5267DF;
  color: #FFFFFF;
}
.xrome:hover {
  border-color: #5B6074;
  color: #242A45;
  background-color: #fff;
}
.firefox {
  background-color: #F7F7F7;
  color: #242A45;
}
.firefox:hover {
  border-color: #5B6074;
  color: #5267DF;
  background-color: #fff;
}
